h2 {
  text-align: center;
  color: white;
}

h2.modal-title {
  font-size: 60px;
  text-transform: uppercase;
  color: white;
}

.modal-title-first {
  font-family: Kristi;
  font-size: 70px;
  line-height: 50px;
  color: #cfa670;
  display: block;
  font-style: italic;
  text-transform: none;
  top: 0;
  position: relative;
  letter-spacing: 0 !important;
  font-weight: normal;
}

.row-1 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  padding-top: 25px;
}

.row-2 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.row-3 {
  display: flex;
  padding-left: 38px;
  width: 85%;
}

.row-4 {
  display: flex;
  justify-content: center;
}

.btn {
  background: #cfa670;
  margin-top: 50px;
  color: white;
  border-color: #3c2311;
  padding: 5px;
}