h2 {
  text-align: center;
  color: white;
}

h2.modal-title {
  font-size: 60px;
  text-transform: uppercase;
  color: white;
}

.modal-title-first {
  font-family: Kristi;
  font-size: 70px;
  line-height: 50px;
  color: #cfa670;
  display: block;
  font-style: italic;
  text-transform: none;
  top: 0;
  position: relative;
  letter-spacing: 0 !important;
  font-weight: normal;
}

.row-1 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  padding-top: 25px;
}

.row-2 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.row-3 {
  display: flex;
  padding-left: 38px;
}

.row-4 {
  display: flex;
  justify-content: center;
}

.btn {
  background: #cfa670;
  margin-top: 50px;
  color: white;
  border-color: #3c2311;
  padding: 5px;
}


/* @media (max-width: 680px) {
  .row-1 {
    display: flex;
    flex-direction: row;
  }
} */

@media (max-width: 768px) {
  .row-1 {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
  }

  .row-2 {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
  }

  .row-3 {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }

  .btn {
    margin-top: 5px;
    font-size: 12px;
  }

}