.dumpling-image {
  /* The image used */
  background-image: url("../Images/Dumpling.jpeg");
  min-height: 500px;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.nav-item {
  padding: 5px;
  margin: 2%;
}

.nav-link {
  text-decoration: none;
  color: white;
  border-radius: .25em;
  padding: 5px;
}

.nav-link:hover {
  transition-delay: border-color 1s ease-in-out;
  border: 1px solid white;
  text-decoration: none;
  color: white;
}