
.navbody {
  height: 0px;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: bold;
}


.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

.nav-item {
  margin: 2%;
  
  
}

.nav-item1 {
  padding: 10px;
  margin: 2%;
  background: transparent !important;
  border: 2px solid #fff;
  color: #fff;
  
}

.nav-link {
  text-decoration: none;
  color: white;
  border-radius: .25em;
  padding: 5px;
}

.nav-link1 {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: none;
  color: white;
}

.nav-link1:hover {
  transition-delay: border-color 1s ease-in-out;
  text-decoration: none;
  color: white;
}